


.cardProject{
  position: relative;
    margin: 10px 0;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding-bottom: 10px;
    text-align: center;
    height: 350px;
    
    img{
        border-radius: 5px; 
        width: 100%;
    }
    .card-img-top-{
        width: 100%;
        height: 150px;
    }
    .btnDiscoverDiv{
        width: 100%;
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
    }
    .btnDiscover{
          
          text-decoration: none;
          color: #a6ff00;
          border: #a6ff00 1px solid;
           height: 35px;
           width : 80px;
          border-radius: 2px;
          background-color: #a6ff0000;
          transition: 1s;
       


       
    }
    .btnDiscover:hover{
        background-color: #a6ff00;
        color: #fff;
        text-shadow: 2px 2px 4px #000000; 
        border: #1d105f 1px solid ;
     }


     .card-title-{
         color: #ffffff;
     }
     .card-body-{
        .card-description{
          color: #ffffff7c;
            
       }
         .card-description:hover{
           color: #ffffffe6;
      }
     }

     .pictures{
       
        width: 100%;
        height: 0;
        
        display: flex;
        background-color: #a6ff00;
        .picProjects{
           // position: absolute;
            background-color: #1d105f;
            min-width:140px;
            height: 140px;
            opacity: 0;
            transition:1s;
        
         }
        
     }
     
 }



 .cardProject:hover .picProjects{
            
    opacity: 1;

}
.cardProject:hover > .pictures{
            
    //height: 100px;

}

.pictures .pic1,
    .pictures .pic2,
    .pictures .pic3 {
      transition: transform 0.5s ease-in-out, left 0.5s ease-in-out;
      animation: rotateAnimation 2s infinite alternate;
      box-shadow: 2px 10px 10px rgb(0, 0, 0);
    
    }

    @keyframes rotateAnimation {
      0% {
        
        transform: rotateZ(35deg);
      }
      100% {
        transform: rotateZ(-35deg);
      }
    }

    .pictures .pic1 {
       position: relative;
      left:10px;
    }

    .pictures .pic3 {
      position: relative;
      left: -150px;
    }

    .pictures .pic2 {
      position: relative;
      left: -80px;
    }





    .pictures .pic1:hover ,
    .pictures .pic3:hover,   
    .pictures .pic2:hover{
        z-index: 10;
        
        
     }
 