

.allprojects{
     background-color: black;
     position: relative;
     width: 100%;
     
     
     
   .cards{
    position: relative;
    top: 20px;
     height: max-content;
     width: 100%;
     display: flex;
     flex-wrap:wrap;
     justify-content: space-evenly;
     padding-bottom: 20px;
     
   }
   .card{
      margin: 10px 0;
   }
}