@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caprasimo&family=Orbitron:wght@400..900&family=Rubik+Mono+One&display=swap');
*{
 
}
.homecontainerdiv{
     position: relative;
     z-index: 100;
     box-sizing: border-box;
     //width: 100%;
     height: 100vh;
      background-image: url("../../assets/images/bg1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
   .infos{
       display: flex;
       background-color: #f8f8f805;
       color: #f8f8f8b6;
       justify-content: end;
      padding-right: 10px;

       p{
         padding-left: 20px;
       }
       
   }
   
    #developpertext{
        color: black;
        -webkit-text-stroke: 1px #989819;
        position: relative;
         top: 100px;
        text-align: center;
        font-family: "Rubik Mono One", monospace;
         font-weight: 400;
         font-style: normal;
         span{
            color: #989819;
            -webkit-text-stroke: 0px;
         }
       
    }
   
}
.myname {
   position: relative;
    text-align: center; 
    top: 80px;   
   

  }
   .myname div{
    display: block;
    justify-content: center;
    width: fit-content;
    margin: auto;
  
  }
  .myname div h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal; 
  }
  
  .myname #h1_1 {
    color: transparent;
    -webkit-text-stroke: 1px #f8f8f8;
    letter-spacing: 4px;

  }
  
  .myname #h1_2 {
    color: #16c2d8;
    -webkit-text-stroke: 1px #16c2d8;
    animation: animate 4s ease-in-out infinite;
    letter-spacing: 4px;
   top: 0px;
    position: absolute;

  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
.audioHello{
  position: relative;
  top: 180px;
  text-align: center;

    audio{
       height: 30px;

    }
    audio source {

    }

    h4{
      color: #ffffff;
      padding-bottom: 20px;
    }
}
.scrollMouse{
     position: relative;
    top: 230px;
    text-align: center;
    img{
      width: 50px;
      animation: moveForwardAndBack 4s linear infinite; /* Adjust duration as needed */

    }
    @keyframes moveForwardAndBack {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(50%);
      }
    }

  }
  
 /* For Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #6558be;
  border-radius: 6px;
}
// Media Screen ::: 

@media screen and (min-width: 425px) {
   .homecontainerdiv{
     width: auto;
   }

}




  