.homecontainerdiv{
     box-sizing: border-box;
     width: 90%;
     height: 100%;
     position: absolute;
     .cardbg{
      width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000;
        &.scroll-to-top {
          transform: translateY(-100%); /* Move the container to the top */
          transition: transform 1s ease; /* Add a smooth transition effect */
        }
        .movingDiv {
          border-top: #dfdf2f 1px solid;
          border-bottom: #3c98d2 1px solid   ;
          // border: #2fdfdc 1px solid;
          position: absolute;
         
    
          width: 50px;  // Adjust size as needed
          height: 50px; // Adjust size as needed
          transition: top 10s, left 10s; // Smooth transition for moving effect
             &:hover{
                border: #2fdfdc 1px solid;
          
             }
        }
        
        
        
        
          
      
    }
    #developpertext{
        color: #2fdfdc;
        position: relative;
        top: 130px;
        text-align: center;
        text-shadow: 1px 2px 5px #ffffff;
    }
   
}
.myname {
     position: relative;
    z-index: 10;
     top: 100px;
    text-align: center;    
  }
   .myname div{
    display: flex;
    justify-content: center;
  }
  .myname div h1 {
     font-size: 60px;
     font-weight: 900;
     position: absolute;
    
  }
  
  .myname #h1_1 {
    color: transparent;
    -webkit-text-stroke: 1px #0b77aa;
  }
  
  .myname #h1_2 {
    color: #ffffff;
    animation: animate 4s ease-in-out infinite;
    
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
  