p{
    margin: 0;
}

.footer{
    position: relative;
    height:     155px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    z-index: 10;

    .footerthings{
         margin-top: 10px;
        .contactsfooter{
            //background-color: aqua;
            width: 30%;
            margin: auto;
            display: flex;
            justify-content: space-around;
            height: 0;
    
            a{
                margin: 0;
                padding:0;

                svg{

                  fill: #61f114;

                }
                svg:hover{

                    fill: #ffffff;
  
                  }
            }
    
        }

        p{
           margin-top: 45px;

           
        }

    }
    .downloadcv {
        padding-top: 10px;
        //margin-bottom: 10px;
        
        p{
        width: fit-content;
        padding: 5px;
        border-color: linear-gradient(to right, #8ed30c, #4ee109fc);
        border: 1px solid;
        border-radius: 2px;
        color: #e19417;
        transition: 1s;
        margin: auto;
        cursor: pointer;
       
    }
      p:hover{
        background: linear-gradient(to right, #fffffe, #e5f3df);
        border: 1px solid white;
       
    }
}
}